<div class="container-fluid" style="margin-top: 10px;">
<div class="checkbox">
    <label><input type="checkbox" value="" (change)="onCheckbox($event, 'DONE')"> DONE</label>
</div>
<div class="checkbox">
    <label><input type="checkbox" value="" (change)="onCheckbox($event, 'READY')"> READY</label>
</div>
<div class="checkbox">
    <label><input type="checkbox" value="" (change)="onCheckbox($event, 'ERROR')"> ERROR</label>
</div>
    <div class="checkbox">
        <label><input type="checkbox" value="" (change)="onCheckbox($event, 'WAITING')"> WAITING</label>
    </div>
    <div class="checkbox">
        <label><input type="checkbox" value="" (change)="onCheckbox($event, 'IN_PROGRESS')"> IN_PROGRESS</label>
    </div>
    <div class="checkbox">
        <label><input type="checkbox" value="" (change)="onCheckbox($event, 'OUT_SCOPED')"> OUT_SCOPED</label>
    </div>
    <div class="checkbox">
        <label><input type="checkbox" value="" (change)="onCheckbox($event, 'DELETED')"> DELETED</label>
    </div>
</div>

