<div role="document" class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">{{title}}</h4>
            <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

            <div class="row">

                <div class="col-5">
                    <h6>Basic Card</h6>
                    <div class="card" style="height: 200px; overflow-y: scroll;">
                        <div class="card-body">
                            <div class="list-group">

                                <ng-template ngFor let-element [ngForOf]="option" let-i="index">
                                    <p-checkbox name={{element.key}}
                                                value={{element.name}}
                                                label={{element.name}}
                                                [(ngModel)]="selectedCategories"
                                                inputId={{element.key}}
                                                [disabled]="element.disabled"
                                                (onChange)="onCheckBoxClic($event, element.key)"
                                    ></p-checkbox>
                                </ng-template>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-7">
                    <h6>Basic Card</h6>
                    <div class="card"  style="height: 200px; overflow-y: scroll;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-5">
                                    <h6>Center</h6>
                                </div>
                                <div class="col-5">
                                    <h6>Active</h6>
                                </div>
                            </div>
                            <form [formGroup]="customForm">
                                <div formArrayName="items"
                                     *ngFor="let item of customForm.get('items').controls; let i = index;">
                                    <div [formGroupName]="i">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-5">
                                                    <div class="ui-fluid">
                                                        <input [style]="{'width': '100px'}" pInputText type="text"
                                                               formControlName="center"/>
                                                    </div>
                                                </div>
                                                <div class="col-2">
                                                    <div class="ui-fluid">
                                                        <p-inputSwitch formControlName="active"></p-inputSwitch>
                                                    </div>
                                                </div>

                                                <div class="col-1">
                                                    <i class="pi pi-save" style="font-size: 1.5em"
                                                       (click)="saveElement(item.value, i)"></i>
                                                </div>
                                                <div class="col-1">
                                                    <i class="pi pi-trash" style="font-size: 1.5em"
                                                       (click)="removeElement(item.value, i)"></i>
                                                </div>
                                                <div class="col-1" *ngIf="(i === (items.length - 1))">
                                                    <i class="pi pi-plus" style="font-size: 1.5em"
                                                       (click)="addElement()"></i>
                                                </div>

                                            </div>
                                        </div>

                                    </div>

                                </div>

                                <div class="col-1" *ngIf="(items.length === 0)">
                                    <i class="pi pi-plus" style="font-size: 1.5em"
                                       (click)="addElement()"></i>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>

            </div>


            <div class="row">
                <div class="col-12">
                    <h6>Basic Card</h6>
                    <div class="card">
                        <div class="card-body">

                            <p-checkbox name="hideObsolete"
                                        value="hideObsolete"
                                        label="Hide Obsolete Output"
                                        [(ngModel)]="hideObsolete"
                                        inputId="hideObsoleteId"
                                        binary="true"
                                        (onChange)="onHideObsole($event)"
                            >

                            </p-checkbox>

                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
        </div>
    </div>
</div>